<div ng-show="githubResults != null">
  <h2>
    Github Results
  </h2>
  <!-- Tab panes -->
  <tabset>
    <tab ng-repeat="result in githubSearching">
      <tab-heading>
        {{ result.name }} <span class="badge">{{ result.githubResults.total_count }}</span>
      </tab-heading>
      <ul class="list-group">
      <span ng-switch on="result.name">
        <span ng-switch-when="repositories">
          <li class="list-group-item" ng-repeat="githubResult in result.githubResults.items"
              ng-include="'github_repositories_renderer.html'"></li>
        </span>
       <span ng-switch-when="issues">
         <li class="list-group-item" ng-repeat="githubResult in result.githubResults.items"
             ng-include="'github_issues_renderer.html'"></li>
       </span>
        <span ng-switch-when="users">
          <li class="list-group-item" ng-repeat="githubResult in result.githubResults.items"
              ng-include="'github_users_renderer.html'"></li>
        </span>
        <span ng-switch-when="code">
          <li class="list-group-item" ng-repeat="githubResult in result.githubResults.items"
              ng-include="'github_code_renderer.html'"></li>
        </span>
    </span>
      </ul>
      <pagination total-items="result.githubResults.total_count"
                  ng-change="searchGithubByTypeAndPage(result.name, result.githubCurrentPage)"
                  ng-model="result.githubCurrentPage" max-size="10"
                  class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </tab>

  </tabset>
</div>
<script type="text/ng-template" id="github_repositories_renderer.html">
  <p><a ng-href="{{ githubResult.html_url }}">{{ githubResult.full_name }}</a></p>

  <p>{{ githubResult.description }}</p>
</script>
<script type="text/ng-template" id="github_issues_renderer.html">
  <p><a ng-href="{{ githubResult.html_url }}">{{ githubResult.title }}</a></p>

  <p class="minus">
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <a
    ng-href="{{ getRepoUrl(githubResult.html_url) }}">{{ getRepoName(githubResult.html_url) }}</a>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Opened by <a
    ng-href="{{ githubResult.user.html_url }}"> {{ githubResult.user.login }}</a> on {{
    githubResult.created_at | date:'dd MMM yyyy' }}
  </p>
</script>
<script type="text/ng-template" id="github_code_renderer.html">
  <p>
    <img ng-src="{{githubResult.repository.owner.avatar_url}}" width="48" class="avatarGithub" height="48"
         alt="avatar {{ githubResult.repository.owner.login }}"/><a
    ng-href="{{ githubResult.repository.owner.html_url }}">{{ githubResult.repository.owner.login }}</a>
    -
    <a
      ng-href="{{ githubResult.html_url }}">{{ githubResult.name }}</a>
  </p>
  <div class="codeFragment">
  <span ng-repeat="text_matche in githubResult.text_matches">
    <div hljs source="text_matche.fragment"></div>
  </span>
  </div>


</script>
<script type="text/ng-template" id="github_users_renderer.html">
  <p><img ng-src="{{githubResult.avatar_url}}" width="48" class="avatarGithub" height="48"
          alt="avatar {{ githubResult.login }}"/><a
    ng-href="{{ githubResult.html_url }}">{{ githubResult.login }}</a></p>


</script>

