<div class="row">
  <div class=".col-md-12">
    <h1>Search Form</h1>
    <hr/>
    <form>
      <div class="form-group">
        <label for="queryId">Query</label>
        <input type="text" class="form-control" id="queryId" placeholder="mysql" ng-model="query">
      </div>

      <div ui-tree data-drag-enabled="false">
        <ol ui-tree-nodes="" ng-model="list" id="tree-root">
          <li ng-repeat="node in list" ui-tree-node="" ng-include="'nodes_renderer.html'"></li>
        </ol>
      </div>
      <button ng-click="search()" class="btn btn-default">Magic search</button>
      <a href="#" ng-href="{{ searchLink() }}" class="btn btn-default">Github link</a>
    </form>

  </div>
</div>
<div class="row">
  <div class=".col-md-12" ng-show="githubResults != null">
    <h2>
      Github Results
    </h2>
    <!-- Tab panes -->
    <tabset>
      <tab>
        <tab-heading>
          Repositories <span class="badge">{{ githubResultsRepo.total_count }}</span>
        </tab-heading>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="githubResult in githubResultsRepo.items">
            <p><a ng-href="{{ githubResult.html_url }}">{{ githubResult.full_name }}</a></p>

            <p>{{ githubResult.description }}</p>
          </li>
        </ul>
        <nav>
          <ul class="pagination">
            <li ng-class="{'disabled' : githubCurrentPageRepo <= 1}">
              <a href="" ng-click="searchRepoByPage(githubCurrentPageRepo-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="n in [1, githubResultsNbRepo] | makeRange" ng-class="{'active': n == githubCurrentPageRepo}">
              <a href="" ng-click="searchRepoByPage(n)">{{ n }}</a>
            </li>

            <li ng-class="{'disabled' : githubCurrentPageRepo >= githubResultsNbRepo}">
              <a href="" aria-label="Next" ng-click="searchRepoByPage(githubCurrentPageRepo+1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </tab>
      <tab heading="Code">
        code?
      </tab>
      <tab>
        <tab-heading>
          Issues <span class="badge">{{ githubResultsIssues.total_count }}</span>
        </tab-heading>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="githubResult in githubResultsIssues.items">
            <p><a ng-href="{{ githubResult.html_url }}">{{ githubResult.title }}</a></p>

            <p class="minus">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span> <a
              ng-href="{{ getRepoUrl(githubResult.html_url) }}">{{ getRepoName(githubResult.html_url) }}</a>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Opened by <a
              ng-href="{{ githubResult.user.html_url }}"> {{ githubResult.user.login }}</a> on {{
              githubResult.created_at | date:'dd MMM yyyy' }}
            </p>
          </li>
        </ul>
        <nav>
          <ul class="pagination">
            <li ng-class="{'disabled' : githubCurrentPageIssues <= 1}">
              <a href="" ng-click="searchIssuesByPage(githubCurrentPageIssues-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="n in [1, githubResultsNbIssues] | makeRange"
                ng-class="{'active': n == githubCurrentPageIssues}">
              <a href="" ng-click="searchIssuesByPage(n)">{{ n }}</a>
            </li>

            <li ng-class="{'disabled' : githubCurrentPageIssues >= githubResultsNbIssues}">
              <a href="" aria-label="Next" ng-click="searchIssuesByPage(githubCurrentPageIssues+1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </tab>
      <tab heading="Users">
        Users
      </tab>
    </tabset>


  </div>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle>
    <label>
      <input type="checkbox" ng-checked="node.checked" ng-model="node.isChecked"
             ng-click="checkSubTree(node, node.isChecked)"> {{node.name}}
    </label>
  </div>
  <ol ui-tree-nodes="" ng-model="node.items">
    <li ng-repeat="node in node.items" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
