<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
  <div class=".col-md-8">
    <h4>Github Form</h4>

    <form>
      <div class="form-group">
        <label for="queryId">Query</label>
        <input type="text" id="queryId" placeholder="mysql" ng-model="query">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="cfCheckbox"> CF
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="cfComCheckbox"> CF Community
        </label>
      </div>
      <button ng-click="redirect()" class="btn btn-default">Submit</button>
    </form>
  </div>
  <div class=".col-md-4">

  </div>
</div>
