<div class="row">
  <div class=".col-md-12">
    <h1>Search Form</h1>
    <hr/>
    <form>
      <div class="form-group">
        <label for="queryId">Query</label>
        <input type="text" class="form-control" id="queryId" placeholder="mysql" ng-model="query">
      </div>

      <div ui-tree data-drag-enabled="false">
        <ol ui-tree-nodes="" ng-model="list" id="tree-root">
          <li ng-repeat="node in list" ui-tree-node="" ng-include="'nodes_renderer.html'"></li>
        </ol>
      </div>
      <a ng-click="search()" class="btn btn-default">Magic search</a>
      <a href="#" ng-href="{{ searchLink() }}" class="btn btn-default">Github link</a>
    </form>

  </div>
</div>
<div class="row">
  <div class=".col-md-12" ng-show="githubResults != null">
    <h2>
      Github Results
    </h2>
    <!-- Tab panes -->
    <tabset>
      <tab select="alertMe()">
        <tab-heading>
          Repositories <span class="badge">{{ githubResults.length }}</span>
        </tab-heading>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="githubResult in githubResults">
            <p><a ng-href="{{ githubResult.html_url }}">{{ githubResult.full_name }}</a></p>

            <p>{{ githubResult.description }}</p>
          </li>
        </ul>
      </tab>
      <tab heading="Code">
        code?
      </tab>
      <tab heading="Issues">
        issues?
      </tab>
      <tab heading="Users">
        Users
      </tab>
    </tabset>


  </div>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle>
    <label>
      <input type="checkbox" ng-checked="node.checked" ng-model="node.isChecked"
             ng-click="checkSubTree(node, node.isChecked)"> {{node.name}}
    </label>
  </div>
  <ol ui-tree-nodes="" ng-model="node.items">
    <li ng-repeat="node in node.items" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>
